<template>
  <q-page class="flex flex-center">
    <div class="row q-mb-lg">
      <h3>Hallo {{ username }}</h3>
      <!-- <q-uploader
        url="http://localhost:3000/upload"
        style="max-width: 300px"
      />-->
    </div>

    <br />

    <!-- <h1>File Upload</h1>
    <form
      action="http://localhost:3000/upload"
      method="POST"
      enctype="multipart/form-data"
    >
      <div>
        <span>File</span>
        <input name="myImage" type="file" />
      </div>
      <div>
        <input type="text" />
      </div>
      <button type="submit">OK</button>
    </form>-->
  </q-page>
</template>

<script>
import axios from "axios";
import AuthService from "../services/AuthService";
export default {
  name: "PageIndex",
  data() {
    return {
      username: ""
    };
  },
  methods: {},
  async created() {
    this.username = this.$store.getters.getUser.username;
    this.secretMessage = await AuthService.getSecretContent();
  }
};
</script>

<style></style>
