<template>
  <div class="login">
    <h2>Login</h2>
    <q-input type="text" placeholder="Username" v-model="username" />
    <q-input type="password" placeholder="Password" v-model="password" />
    <br />
    <q-btn
      label="login"
      class="login_btn"
      @click="login"
      value="Login"
      color="primary"
    />
  </div>
</template>
<script>
import AuthService from "../services/AuthService.js";
export default {
  data() {
    return {
      username: "",
      password: "",
      msg: ""
    };
  },
  methods: {
    async login() {
      try {
        const credentials = {
          username: this.username,
          password: this.password
        };
        const response = await AuthService.login(credentials);
        this.msg = response.msg;
        const token = response.token;
        const user = response.user;
        this.$store.dispatch("login", { token, user });
        this.$q.notify({
          type: "positive",
          message: `Login erfolgreich.`
        });
        this.$router.push("/");
      } catch (error) {
        this.msg = error.response.data.msg;
        this.$q.notify({
          type: "negative",
          message: `${this.msg}`
        });
      }
    }
  }
};
</script>
