<template>
  <q-page class="overview">
    <div class="row q-mb-lg">
      <h3>Übersicht</h3>
      <q-select
        filled
        v-model="skills"
        label="Skill auswählen"
        use-input
        hide-selected
        fill-input
        input-debounce="0"
        :options="options"
        @filter="filterFn"
        :rules="[val => !!val || 'Feld ist erforderlich']"
      ></q-select>
      <q-input
        filled
        v-model="value"
        label="Wert für Wiederholungen/Zeit"
        type="number"
        use-input
        hide-selected
        fill-input
        input-debounce="0"
        :options="options"
        @filter="filterFn"
        :rules="[val => !!val || 'Feld ist erforderlich']"
      />
      <div v-for="skill in skills">
        <div>{{ skill.name }} :</div>
        <div>{{ skill.value }}</div>
      </div>
    </div>
  </q-page>
</template>

<script>
const skillOptions = ["L-Sit", "Handstand"];

export default {
  data() {
    return {
      skills: [],
      options: skillOptions
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/skills")
      .then(response => {
        console.log(response);
        this.skills = response.data;
      })
      .catch(error => {
        console.warn("ERROR");
      });
  },
  methods: {
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.options = skillOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    }
  }
};
</script>

