<template>
  <q-page class="profile">
    <h3>Profil</h3>
    <br />
    <q-btn @click="startTimer">Start Timer</q-btn>
    <BaseTimer :time-left="timeLeft" />
  </q-page>
</template>

<script>
import BaseTimer from "../components/BaseTimer";

export default {
  components: {
    BaseTimer
  },
  data() {
    return {
      timeLimit: 7,
      timePassed: 0,
      timerInterval: null
    };
  },
  computed: {
    timeLeft() {
      return this.timeLimit - this.timePassed;
    }
  },
  methods: {
    startTimer() {
      this.timerInterval = setInterval(() => (this.timePassed += 1), 1000);
    }
  }
};
</script>

<style></style>
