<template>
  <div class="register">
    <h2>Registrieren</h2>
    <q-input type="text" placeholder="Benutzername" v-model="username" />
    <q-input type="password" placeholder="Passwort" v-model="password" />
    <q-input
      type="password"
      placeholder="Passwort wiederholen"
      v-model="password_repeat"
    
    />
    <br>
    <q-btn
      class="register_btn"
      label="Registrieren"
      @click="signUp"
      value="Sign Up"
      color="primary"
    />
  </div>
</template>
<script>
import AuthService from "../services/AuthService.js";
export default {
  data() {
    return {
      username: "",
      password: "",
      password_repeat: "",
      msg: ""
    };
  },
  methods: {
    async signUp() {
      try {
        const credentials = {
          username: this.username,
          password: this.password,
          password_repeat: this.password_repeat
        };
        const response = await AuthService.signUp(credentials);
        this.msg = response.msg;
        this.$q.notify({
          type: "positive",
          message: `Registrierung erfolgreich.`
        });
      } catch (error) {
        this.msg = error.response.data.msg;
        this.$q.notify({
          type: "negative",
          message: `${this.msg}`
        });
      }
    }
  }
};
</script>
