<template>
  <q-page class="settings">
    <h3>Einstellungen</h3>
    <br />
    <div class="theme-box">
      <h5>Thema einstellen:</h5>
      <div class="light">
        <q-checkbox v-model="light" label="Light" />
      </div>
      <div class="dark">
        <q-checkbox v-model="dark" label="Dark" />
      </div>
      <div>
        <q-btn @click="changeTheme" label="Speichern" />
      </div>
    </div>
  </q-page>
</template>

<script>
import $ from "jquery";
export default {
  data() {
    return {
      light: false,
      dark: true
    };
  },
  methods: {
    changeTheme() {
      if (this.dark == true) {
        this.dark = true;
        $("#q-app").removeClass("light-theme");
        $("#q-app").addClass("dark-theme");
      }
      if (this.light == true) {
        this.light = true;
        $("#q-app").removeClass("dark-theme");
        $("#q-app").addClass("light-theme");
      }
    }
  }
};
</script>
