<template>
  <q-page class="workouts">
    <h3>Workouts</h3>
    <div class="cards">
      <q-card class="card" flat bordered v-for="workout in workouts">
        <q-img src="../assets/core.jpg" />
        <div class="toggle-box">
          <h1>Pimmel</h1>
        </div>
        <q-btn @click="toggle">Toggle here</q-btn>
        <p>
          <q-card-section>
            <div class="text-overline text-orange-9">Finisher Workout</div>
            <div class="text-h5 q-mt-sm q-mb-xs">{{ workout.name }}</div>
            <div class="text-caption text-grey">
              Bei diesem Workout geht es darum, deine Muskeln im Core nocheinmal richtig zu zerstören.
              Idealerweise machst du diese Übungen nach deinem eigentlichen Training...
            </div>
            <div class="workout text-grey" v-if="isHidden">
              <hr />
              <br />
              <q-btn color="primary">Let's Go!</q-btn>
              <br />
              <br />
              <q-stepper v-model="step" vertical color="primary" animated>
                <q-step
                  :name="1"
                  :title="workout.exercise1"
                  icon="settings"
                  :done="step > 1"
                  v-if="workout.exercise1 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn @click="step = 2; restartTimer()" color="primary" label="Continue" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="2"
                  :title="workout.exercise2"
                  icon="create_new_folder"
                  :done="step > 2"
                  v-if="workout.exercise2 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn @click="step = 3; restartTimer()" color="primary" label="Continue" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="3"
                  :title="workout.exercise3"
                  icon="assignment"
                  :done="step > 3"
                  v-if="workout.exercise3 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn @click="step = 4; restartTimer()" color="primary" label="Continue" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="4"
                  :title="workout.exercise4"
                  icon="assignment"
                  :done="step > 4"
                  v-if="workout.exercise4 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn @click="step = 5; restartTimer()" color="primary" label="Continue" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="5"
                  :title="workout.exercise5"
                  icon="assignment"
                  :done="step > 5"
                  v-if="workout.exercise5 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn @click="step = 6; restartTimer()" color="primary" label="Continue" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="6"
                  :title="workout.exercise6"
                  icon="assignment"
                  :done="step > 6"
                  v-if="workout.exercise6 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn @click="step = 7; restartTimer()" color="primary" label="Continue" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="7"
                  :title="workout.exercise7"
                  icon="assignment"
                  :done="step > 7"
                  v-if="workout.exercise7 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn @click="step = 8; restartTimer()" color="primary" label="Continue" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="8"
                  :title="workout.exercise8"
                  icon="assignment"
                  :done="step > 8"
                  v-if="workout.exercise8 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn @click="step = 9; restartTimer()" color="primary" label="Continue" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="9"
                  :title="workout.exercise9"
                  icon="assignment"
                  :done="step > 9"
                  v-if="workout.exercise9 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn @click="step = 10; restartTimer()" color="primary" label="Continue" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="10"
                  :title="workout.exercise10"
                  icon="add_comment"
                  :done="step > 10"
                  v-if="workout.exercise10 != ''"
                >
                  <BaseTimer :time-left="timeLeft" />
                  <q-stepper-navigation>
                    <q-btn color="primary" label="Finish" />
                  </q-stepper-navigation>
                </q-step>
              </q-stepper>
              <div>
                <p>{{ workout.exercise1 }}</p>
                <p>{{ workout.exercise2 }}</p>
                <p>{{ workout.exercise3 }}</p>
                <p>{{ workout.exercise4 }}</p>
                <p>{{ workout.exercise5 }}</p>
                <p>{{ workout.exercise6 }}</p>
                <p>{{ workout.exercise7 }}</p>
                <p>{{ workout.exercise8 }}</p>
                <p>{{ workout.exercise9 }}</p>
                <p>{{ workout.exercise10 }}</p>
              </div>
            </div>
          </q-card-section>

          <q-card-actions class="hideOnStart">
            <q-btn flat color="primary" label="Starten" @click="startWorkout" />

            <q-space />

            <q-btn
              color="grey"
              round
              flat
              dense
              :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
              @click="expanded = !expanded"
            />
          </q-card-actions>

          <q-slide-transition class="hideOnStart">
            <div v-show="expanded">
              <q-separator />
              <q-card-section class="text-subitle2">{{ workout.exercise1 }}</q-card-section>
            </div>
          </q-slide-transition>
        </p>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import BaseTimer from "../components/BaseTimer";
import axios from "axios";
import $ from "jquery";
export default {
  components: {
    BaseTimer
  },
  data() {
    return {
      step: 1,
      isHidden: false,
      workouts: [],
      expanded: false,

      //Timer
      timeLimit: 10,
      timePassed: 0,
      timerInterval: null
    };
  },
  methods: {
    startWorkout() {
      $(".hideOnStart").css("display", "none");
      this.isHidden = !this.isHidden;
    },
    startTimer() {
      this.timePassed = 0;
      this.timerInterval = setInterval(() => (this.timePassed += 1), 1000);
    },
    restartTimer() {
      clearInterval(this.timerInterval);
      this.timePassed = 0;
      this.timerInterval = setInterval(() => (this.timePassed += 1), 1000);
    },
    toggle() {
      $(".hideOnStart")
        .closest(".hideOnStart")
        .toggle();
    }
  },
  computed: {
    timeLeft() {
      return this.timeLimit - this.timePassed;
    }
  },
  mounted() {
    this.timeLimit = 6;
    this.startTimer();

    axios
      .get("http://localhost:3000/workouts")
      .then(response => {
        console.log(response);
        this.workouts = response.data;
      })
      .catch(error => {
        console.warn(error);
      });
  }
};
</script>

<style>
</style>