<template>
  <q-page class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="46.5" />
        <path
          :stroke-dasharray="circleDasharray"
          :class="remainingPathColor"
          class="base-timer__path-remaining"
          d="
      M 50, 50
      m -45, 0
      a 45,45 0 1,0 90,0
      a 45,45 0 1,0 -90,0
    "
        />
      </g>
    </svg>
    <span class="base-timer__label">{{ formattedTimeLeft }}</span>
    <audio id="timer_sound">
      <source src="../assets/Timer_Sound.mp3" type="audio/mpeg" />Your browser does not support the audio element.
    </audio>
  </q-page>
</template>

<script>
import $ from "jquery";
export default {
  props: {
    timeLeft: {
      type: Number,
      required: true
    },
    alertThreshold: {
      type: Number,
      default: 5
    },
    warningThreshold: {
      type: Number,
      default: 10
    }
  },

  computed: {
    formattedTimeLeft() {
      const timeLeft = this.timeLeft;
      const minutes = Math.floor(timeLeft / 60);
      let seconds = timeLeft % 60;
      if (seconds < 10) {
        seconds = `0${seconds}`;
      }
      if (seconds >= 0) {
        return `${minutes}:${seconds}`;
      } else {
        document.getElementById("timer_sound").muted = true;
        return "0:00";
      }
    },
    // Update the dasharray value as time passes, starting with 283
    circleDasharray() {
      //   return `${(this.timeFraction * FULL_DASH_ARRAY).toFixed(0)} 283`;
    },
    timeFraction() {
      const rawTimeFraction = this.timeLeft / this.timeLimit;

      return rawTimeFraction - (1 / this.timeLimit) * (1 - rawTimeFraction);
    },
    colorCodes() {
      return {
        info: {
          color: "green"
        },
        warning: {
          color: "orange",
          threshold: this.warningThreshold
        },
        alert: {
          color: "red",
          threshold: this.alertThreshold
        }
      };
    },
    remainingPathColor() {
      const { alert, warning, info } = this.colorCodes;
      if (this.timeLeft <= alert.threshold) {
        document.getElementById("timer_sound").play();
        return alert.color;
      } else if (this.timeLeft <= warning.threshold) {
        return warning.color;
      } else {
        return info.color;
      }
    }
  }
};
</script>

<style></style>
