@import "variables.scss";
@import "light-theme.scss";
@import "dark-theme.scss";

.nav-auth {
  margin-right: 10px;
  cursor: pointer;
}

.navbar-title {
  cursor: pointer;
}

.login {
  padding: 100px;

  .login_btn {
    width: 100%;
  }
}

.register {
  padding: 100px;

  .register_btn {
    width: 100%;
  }
}

.settings {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
  h3 {
    margin-bottom: -30px;
  }
  .light {
    margin-top: -20px;
  }
  .dark {
    margin-bottom: 20px;
  }
}

.q-card {
  width: 400px !important;
}
