.dark-theme {
    background-color: $dark;
    color: white;
    i,
    .q-item__label {
      color: $light;
    }
    .q-item__label--header {
      color: $light !important;
    }
    button {
      background-color: $darker;
      color: $light;
    }
    .q-checkbox__inner {
      color: $darker;
    }
    .q-toolbar {
      background-color: $darker;
      .material-icons {
        color: $light;
      }
    }
    .q-drawer__content {
      background-color: $darker !important;
    }
    .q-drawer--left.q-drawer--bordered {
      border-right: #1a1c22;
    }
    .login, .register {
      .q-btn {
        background-color: $darker;
      }
    }
  }