$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;
$positive: #21ba45;
$red: #c10015;
$info: #31ccec;
$warning: #f2c037;
$dark: #282c34;
$darker: #20232a;
$light: #d7d3cb;
$light-red: #b6535e;
