<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title class="navbar-title" v-go-back="'/'">
          Cali Tracker
        </q-toolbar-title>

        <div
          v-show="!this.$store.getters.isLoggedIn"
          class="nav-auth"
          v-go-back="'/register'"
        >
          Registrieren
        </div>
        <div
          v-show="!this.$store.getters.isLoggedIn"
          class="nav-auth"
          v-go-back="'/login'"
        >
          Login
        </div>
        <div
          v-show="this.$store.getters.isLoggedIn"
          class="nav-auth"
          @click="logout"
        >
          Logout
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label header class="text-grey-8">
          Menü
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink";

export default {
  name: "MainLayout",

  components: {
    EssentialLink
  },

  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: "Übersicht",
          caption: "Rekorde eintragen",
          icon: "view_list",
          href: "/overview"
        },
        {
          title: "Workouts",
          caption: "Trainingspläne",
          icon: "fitness_center",
          href: "/workouts"
        },
        {
          title: "Profil",
          caption: "Persönliche Daten",
          icon: "person",
          href: "/profil"
        },
        {
          title: "Einstellungen",
          caption: "Themes und mehr",
          icon: "settings",
          href: "/settings"
        }
      ]
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/login");
    }
  }
};
</script>
